{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static 'checkout/contact-page.css' %}">
</head>
<body>
    <div class="contact-container">
        <h1>Contact Me</h1><br>
        <p><strong>If you have any questions or would like to work together, please reach out!</strong></p>

        <div class="contact-info">
            <p><strong>Name:</strong> Muhammad Abdullah Saleem</p>
            <p><strong>Email:</strong> 113abdullah13@gmail.com</p>
            <p><strong>Phone:</strong> +923400260113</p>
            <p><strong>Location:</strong> Lahore, Pakistan</p>
            <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/muhammad-abdullah-saleem-a783b22a5/" target="_blank">View LinkedIn</a></p>
            <p><strong>GitHub:</strong> <a href="https://github.com/abdullahKodes" target="_blank">View GitHub</a></p>
        </div>
        <a href="{% url 'home' %}" class="back-to-shop">Back to Home</a>
    </div>
</body>
</html>