{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - My Store</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <header class="header">
        <div class="container header-content">
            <h1 class="store-name">Furniro</h1>
            <nav class="nav-links">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'all_products'%}">Shop</a>
                <a href="{% url 'cart_detail'%}">Cart</a>
                <a href="#">Contact Us</a>
            </nav>
        </div>
    </header>

    <section class="banner">
        <div class="banner-content">
            <h2>Discover Our New Collection</h2>
            <p>Here is our wide collection of Furniture available.</p>
            <a href="{% url 'all_products'%}" class="btn">Buy Now</a>
        </div>
    </section>

    <section class="categories">
        <h2>Browse The Range</h2>
        <p>Here is the Furniture Categories we are dealing with.</p>
        <div class="category-cards">
            {% for category in categories %}
            <div class="category-card">
                <a href="{% url 'category_products' category.id %}">
                    <img src="{{ category.image.url }}" alt="{{ category.name }}">
                    <h3>{{ category.name }}</h3>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="products">
        <h2>Our Products</h2>
        <div class="product-cards">
            {% for product in products %}
            <div class="product-card">
                <a href="{% url 'product_detail' product.id %}">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                <h3>{{ product.name }}</h3>
                </a>
                <p>{{ product.price }} PKR</p>
            </div>
            {% endfor %}
        </div>
        <br><br><br>
        <a href="{% url 'all_products' %}" class="btn-shop">Go to Shop</a>
    </section>

    <footer class="footer">
        <p>&copy; 2024 Furniro. All rights reserved.</p>
    </footer>

</body>
</html>
